# Rules in this file were initially inferred by Visual Studio IntelliCode from the D:\TyporaNote codebase based on best match to current usage at 10/31/2020
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{cpp,h}]
charset = utf-8
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab


